$color-Base: rgb(187, 247, 187);
$color-comentarios: rgb(197, 243, 241);
$font-comentario: rgb(28, 46, 63);
$tamaño-texto:30px;
$boxResponsive:600px;
$boxBorder: 2px solid #000;
$boxColor: rgb(224, 212, 212);
