#header {
  background-color: #aafcaa;
}

#header .header__logo {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

#header .header__img {
  width: 30px;
  height: 30px;
}

.comentario {
  font-size: 30px;
  color: #1c2e3f;
  background-color: #aaf8f6;
}

#main .presentacion {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#adfaad), to(#ccf78c));
  background-image: linear-gradient(#adfaad, #ccf78c);
  font-size: 30px;
}

#main .losProductos--Productos img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  border-radius: 20px;
  width: 300px;
  height: 200px;
}

#main .losProductos--Productos img:hover {
  -webkit-filter: saturate(1);
          filter: saturate(1);
}

#main .losProductos--Productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../imagenes/cozy-composition-with-ceramic-cup-candles-knitted-elementCut.jpg) no-repeat center fixed;
}

#main .losProductos--Productos div {
  width: 350px;
  margin: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 25px;
  border: #111 solid;
}

#main .losProductos--Productos img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  border-radius: 20px;
  width: 300px;
  height: 200px;
}

#main .losProductos--Productos img:hover {
  -webkit-filter: saturate(1);
          filter: saturate(1);
}

#main .losProductos--Productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../imagenes/cozy-composition-with-ceramic-cup-candles-knitted-elementCut.jpg) no-repeat center fixed;
}

#main .losProductos--Productos div {
  width: 350px;
  margin: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 25px;
  border: #111 solid;
}

.form {
  text-align: center;
  font-size: 20px;
  margin: 20px;
  border: black solid 5px;
  background: url(../imagenes/white-candles-pebbles-stone-wood.jpg) no-repeat center;
}

.footer {
  padding: 40px 0;
  background-color: #fff;
  text-align: center;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: #4b4c4d;
}

.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  margin: 0 8px;
  opacity: 0,75;
}

.footer .social a:hover {
  opacity: 0,9;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a:hover {
  opacity: 1;
}

footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

/* condicionales */
h1 {
  padding: 20px;
  color: white;
  background-color: black;
}

/* mixin */
.box {
  text-align: center;
  height: auto;
  width: auto;
  background: #aafcaa;
  border: 600px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #e0d4d4;
}

/* mapget */
.articulo {
  background-color: #abc7f7;
  text-align: center;
  padding: 1rem;
  font-size: 35px;
}

/* bucle */
h6 {
  font-size: 72px;
}

h5 {
  font-size: 60px;
}

h4 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

/* each */
.bg-green {
  background-color: green;
}

.bg-red {
  background-color: red;
}

.bg-orange {
  background-color: orange;
}

.bg-blue {
  background-color: blue;
}

.bg-violet {
  background-color: violet;
}
/*# sourceMappingURL=style.css.map */